:root {
    --bg-color: #f5f6f8;
    --surface-color: #fff;
    --text-color: #1b1b1b;
    --secondary-color: #256aac;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

a,
a:link {
    color: #0000EE;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

a:focus {
    outline: none;
}

a:visited {
    color: #551A8B;
}

.text-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
}